@import "./reset.css";

/* 웹폰트 (Noto Sans KR / Crimson Text) */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* font-family: 'Nanum Myeongjo', serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

/* 기본 css style */
:root {
  --main-color: #006640;
  --text-light: #666;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h1 .crimson,
h1.crimson {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h2 .crimson,
h2.crimson {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h3.nanum {
  font-family: "Nanum Myeongjo", serif;
  font-size: 32px;
  font-weight: 700;
}

a {
  color: #000;
}

.ft-bold {
  font-weight: 700;
}

.color-white {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* ##### header ##### */

#main-header {
  height: 80px;
}

#main-header .container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid blue; */
  border-bottom: 0.5px solid #ccc;
}

#gnb {
  z-index: 100;
  /* outline: 1px solid red; */
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
  height: 80px;
}
#gnb .depth1 > li {
  width: 100px;
  height: 100%;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
#gnb .depth1 > li > a {
  line-height: 80px;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

/* 2단계 메뉴 */

#gnb .depth2 {
  background: #fff;
  border: 0.1px solid #ccc;
  margin-top: 1px;
  padding: 10px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

#gnb .depth2 > li {
  margin-bottom: 10px;
}
#gnb .depth2 > li:last-child {
  margin-bottom: 0;
}

#gnb .depth2 a {
  color: var(--text-light);
}

/* 호버효과 */

#gnb .depth1 > li:hover > a {
  color: var(--main-color);
  font-weight: 700;
}
#gnb .depth1 > li::after {
  content: "";
  width: 0px;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  top: 79px;
  transition: 0.5s;
}
#gnb .depth1 > li:hover::after {
  width: 100px;
}

#gnb .depth1 > li:hover .depth2 {
  height: auto;
  opacity: 1;
  transition: 0.4s;
}

#gnb .depth2 > li:hover > a {
  text-decoration: underline;
}

/* ##### main ##### */

#main-visual {
  height: 740px;
  background: #000;
}

#main-visual .container {
  height: 100%;
  background-image: url("../images/main-visual-1.png");
  display: flex;
  align-items: center;
  background-size: cover;
  margin-bottom: 50px;
}

#main-visual h1 {
  color: #fff;
  margin-left: 100px;
}

/* ##### section1 ##### */
.section1 .container {
  display: flex;
  padding: 50px 20px;
  justify-content: space-between;
}

/* 공지사항 */
.section1 .notice-box {
  width: calc(50% - 10px);
  position: relative;
  padding: 20px;
}

.section1 .notice-box > ul {
  border-bottom: 0.3px solid #888;
  margin-bottom: 10px;
}

.section1 .notice-box > ul li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 5px;
}

.section1 .notice-box > ul li.active {
  font-weight: 700;
  border-bottom: 5px solid var(--main-color);
}

.section1 .notice-box .btn-plus {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #888;
  border: 1px solid #888;
  background: #fff;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.section1 .notice-box .notice-board {
  font-size: 12px;
  width: 100%;
}

.section1 .notice-box .notice-board tr {
  display: flex;
  justify-content: space-between;
}

.section1 .notice-box .notice-board td {
  padding: 5px 0;
}

.section1 .notice-box .notice-board button {
  width: 43px;
  height: 27px;
  border: none;
  background: #d9534f;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.section1 .notice-box .notice-board td a {
  word-break: break-all;
}

/* 학사일정 */
.section1 .schedule-box {
  width: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 4px 4px 5px #ccc;
  border-radius: 10px;
}

.section1 .schedule-box .calendar-box {
  position: relative;
  padding: 0 20px;
  border-right: 0.1px solid #ccc;
}

.section1 .schedule-box .btn-month {
  width: 70px;
  height: 25px;
  position: absolute;
  left: calc(50% - (35px));
  border: none;
  background: var(--main-color);
  color: #fff;
  border-radius: 4px;
  font-size: 11px;
}

.section1 .schedule-box .calendar {
  font-size: 11px;
  width: 250px;
  text-align: center;
  margin-top: 30px;
  line-height: 23px;
}

.section1 .schedule-box .schedule-list {
  width: calc(100% - 311px);
  font-size: 11px;
}

.section1 .schedule-box .schedule-list .schedule-date {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section1 .schedule-box .schedule-list > a {
  display: block;
  width: 60px;
  line-height: 25px;
  background: var(--main-color);
  text-align: center;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 10px;
}

.section1 .schedule-box .schedule-list > ul {
  font-size: 12px;
}

/* ##### section2 ##### */
/* 연습실 예약 */
.section2 .container {
  padding: 0px 20px;
}

.section2 .reservation-banner {
  width: 100%;
  display: flex;
  border: 0.5px solid #ccc;
}

.section2 .reservation-banner > img {
  width: 50%;
}

.section2 .reservation-banner .reservation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 130px;
}

.section2 .reservation-banner .reservation-link > p {
  font-size: 10px;
  margin-bottom: 15px;
}

.section2 .reservation-banner .reservation-link > .btn-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  border: 0.5px solid #000;
  background: #fff;
  font-weight: 700;
}

/* ##### section3 ##### */
/* 전공 안내 */

.section3 .container {
  padding: 100px 20px 50px;
}

.section3 .classes {
  width: 950px;
  display: flex;
  align-items: center;
  position: relative;
}

.section3 .classes img {
  width: 50%;
}

.section3 .classes .text-box {
  width: 50%;
}

.section3 .classes h3 span {
  font-size: 64px;
  position: relative;
  bottom: 10px;
}

.section3 .classes p {
  font-family: "Nanum Myeongjo", serif;
}

/* korean-dance */
.section3 .classes.korean-dance {
  left: 228px;
}

.section3 .korean-dance::before {
  content: "";
  width: 453px;
  height: 453px;
  background: rgba(0, 102, 64, 0.8);
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: -1;
}

.section3 .korean-dance .text-box {
  text-align: right;
}

.section3 .korean-dance h3 {
  position: relative;
  right: 28px;
  margin-bottom: 15px;
}

.section3 .korean-dance h3::before {
  content: "K";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  right: 220px;
}

.section3 .korean-dance h3::after {
  content: "orean Dance";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  right: -35px;
}

/* modern-dance */
.section3 .classes.modern-dance {
  left: 268px;
}

.section3 .modern-dance::before {
  content: "";
  width: 453px;
  height: 453px;
  background: #dad6bc;
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -1;
}

.section3 .modern-dance .text-box {
  text-align: center;
}

.section3 .modern-dance h3 {
  position: relative;
  right: -65px;
  margin-bottom: 15px;
}

.section3 .modern-dance h3::before {
  content: "M";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  left: -20px;
}

.section3 .modern-dance h3::after {
  content: "odern Dance";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  left: 72px;
}

/* ballet */
.section3 .classes.ballet {
  left: 128px;
  margin-top: 100px;
}

.section3 .ballet::before {
  content: "";
  width: 453px;
  height: 453px;
  background: #ffdbdd;
  position: absolute;
  top: -100px;
  left: 100px;
  z-index: -1;
}

.section3 .ballet .text-box {
  text-align: center;
}

.section3 .ballet h3 {
  position: relative;
  left: 120px;
  margin-bottom: 15px;
}

.section3 .ballet h3::before {
  content: "B";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  right: 285px;
}

.section3 .ballet h3::after {
  content: "allet";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  right: 90px;
}
.section3 .ballet p {
  position: relative;
  left: 80px;
}

/* ##### section4 ##### */
/* 퀵메뉴 */
.section4 .container {
  padding: 50px 100px;
}

.section4 .quick-menu {
  padding: 60px 170px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.section4 .quick-menu li {
  text-align: center;
}

/* ##### footer ##### */
#main-footer {
  margin-top: 50px;
}

#main-footer .container {
  background: #393939;
  padding: 70px;
  color: #999;
  font-size: 14px;
}

#main-footer .footer-menu {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

#main-footer .footer-menu a {
  color: #999;
}

#main-footer .footer-menu a.ft-str {
  font-weight: 700;
  color: #ffcc33;
}

#main-footer .address {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

#main-footer .copy {
  font-weight: 700;
}
