@import "./reset.css";

/* 웹폰트 (Noto Sans KR / Crimson Text) */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* font-family: 'Nanum Myeongjo', serif; */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

/* font-flamily: "ehwa" */
@font-face {
  font-family: "ehwa";
  src: url(../fonts/ewha.ttf);
}

/* 미디어쿼리 */
.mob-only {
  display: none;
}

/* 기본 css style */
:root {
  --main-color: #006640;
  --text-light: #666;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  padding-top: 80px;
}

h1 {
  font-family: "ehwa", "Noto Sans KR", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h1 .crimson,
h1.crimson {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h2 .crimson,
h2.crimson {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h3.nanum {
  font-family: "Nanum Myeongjo", serif;
  font-size: 32px;
  font-weight: 700;
}

a {
  color: #000;
}

.ft-bold {
  font-weight: 700;
}

.color-white {
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* ##### header ##### */

#main-header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 9999;
  border-bottom: 0.5px solid #ccc;
}

#main-header .container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

#gnb {
  z-index: 100;
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
  height: 80px;
}
#gnb .depth1 > li {
  width: 110px;
  height: 100%;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  position: relative;
}
#gnb .depth1 > li > a {
  line-height: 80px;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

/* 2단계 메뉴 */

#gnb .depth2 {
  background: #fff;
  border: 0.1px solid #ccc;
  margin-top: 1px;
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

#gnb .depth2 > li {
  margin-bottom: 10px;
}
#gnb .depth2 > li:last-child {
  margin-bottom: 0;
}

#gnb .depth2 a {
  color: var(--text-light);
}

/* 호버효과 */

#gnb .depth1 > li:hover > a {
  color: var(--main-color);
  font-weight: 700;
}
#gnb .depth1 > li::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  top: 78px;
  transition: 0.5s;
}
#gnb .depth1 > li:hover::after {
  width: 110px;
}

#gnb .depth1 > li:hover .depth2 {
  max-height: 200px;
  opacity: 1;
  transition: 0.5s;
}

#gnb .depth2 > li:hover > a {
  text-decoration: underline;
}

/* ##### site-map ##### */

#site-map {
  position: fixed;
  width: 100%;
  height: 820px;
  z-index: 10000;
  top: 0;
}

#site-map .container {
  position: relative;
  max-width: 1440px;
  background-image: url(../images/sitemap-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  box-shadow: 4px 4px 5px #ccc;
}

#site-map .header-cover {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-map .header-cover .btn-close {
  border: none;
  background: none;
}

#site-map .site-map-menu {
  padding: 100px 200px;
  height: calc(100% - 80px);
}

#site-map .site-map-menu .depth1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

#site-map .site-map-menu .depth1 > li {
  width: 30%;
}

#site-map .site-map-menu .depth1 > li > a {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}

#site-map .site-map-menu .depth2 > li > a {
  color: #444444;
  line-height: 35px;
}

/* 사이트맵 전환 효과 */
#site-map {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
#site-map.show {
  height: 820px;
  overflow: visible;
  opacity: 1;
}

/* ##### main-visual ##### */

#main-visual {
  height: 740px;
  background: #000;
}

#main-visual .container {
  height: 100%;
  background-image: url("../images/main-visual-1.jpg");
  display: flex;
  align-items: flex-start;
  /* text-align: center; */
  /* justify-content: center; */
  background-size: cover;
  margin-bottom: 50px;
  transition: 1.5s;
  padding: 50px;
}

#main-visual h1 {
  color: #fff;
  line-height: 2.7em;
}

#main-visual .main-visual-line {
  background: #fff;
  height: 1px;
  width: 215px;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

/* ##### section1 ##### */
.section1 .container {
  width: 100%;
  display: flex;
  padding: 50px 20px;
  justify-content: space-between;
}

/* 공지사항 */
.section1 .notice-box {
  width: calc(50% - 10px);
  position: relative;
  padding: 20px;
}

.section1 .notice-box .notice-title-list {
  border-bottom: 0.3px solid #888;
  margin-bottom: 10px;
}

.section1 .notice-box .notice-title-list li {
  display: inline-block;
  margin-right: 30px;
  padding: 5px;
  cursor: pointer;
}

.section1 .notice-box .notice-title-list li.active {
  font-weight: 700;
  border-bottom: 5px solid var(--main-color);
}

.section1 .notice-box .btn-plus {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #888;
  border: 1px solid #888;
  background: #fff;
  position: absolute;
  top: 13px;
  right: 20px;
  cursor: pointer;
}

.section1 .notice-box .notice-list {
  font-size: 15px;
}

.section1 .notice-box .notice-list li {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.section1 .notice-box .notice-list li:last-child {
  margin-bottom: 0px;
}

.section1 .notice-box .notice-list a {
  line-height: 30px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section1 .notice-box .notice-list b {
  font-size: 14px;
  border: none;
  background: #d9534f;
  color: #fff;
  margin-right: 5px;
  padding: 3px 7px;
  /* border-radius: 5px; */
}

.section1 .notice-box .notice-list .notice-date {
  width: 80px;
  text-align: right;
  white-space: nowrap;
}

/* 공지사항 전환 */
.section1 .notice-list {
  display: none;
}

.section1 .notice-list.active {
  display: block;
}

/* 학사일정 */
.section1 .schedule-box {
  width: calc(50% - 10px);
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* box-shadow: 4px 4px 5px #ccc; */
  border-radius: 10px;
}

.section1 .schedule-box .schedule-list {
  order: 2;
}
.section1 .schedule-box .calendar-box {
  order: 1;
}

/* 학사일정-달력 */
.section1 .schedule-box .calendar-box {
  position: relative;
  padding: 0 20px;
  /* border-right: 0.1px solid #ccc; */
  text-align: left;
}

.section1 .schedule-box .btn-month {
  padding: 10px;
  padding-bottom: 5px;
  border: none;
  color: #000;
  font-size: 16px;
  text-align: left;
  background: none;
  border-bottom: 5px solid var(--main-color);
}

.section1 .schedule-box .calendar {
  font-size: 12px;
  width: 250px;
  text-align: center;
  line-height: 23px;
  border-top: 0.3px solid #888;
  padding-top: 10px;
}

.section1 .schedule-box .calendar th,
.section1 .schedule-box .calendar td {
  width: calc(100% / 7);
}

.section1 .schedule-box .calendar th {
  font-weight: 400;
}

.section1 .schedule-box .calendar td {
  cursor: pointer;
  position: relative;
}

.section1 .calendar td.choosed {
  border-radius: 10px;
  background: rgba(0, 102, 64, 0.2);
}

.section1 .calendar .sat {
  color: #17a1fa;
}

.section1 .calendar .sun {
  color: #d9534f;
}

.section1 .calendar td.something::after {
  content: "·";
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  position: absolute;
  top: 9px;
  left: 14px;
}

/* 학사일정-세부일정 */
.section1 .schedule-box .schedule-list {
  width: calc(100% - 311px);
  text-align: left;
}

/* .section1 .schedule-box .schedule-list .schedule-date {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}

.section1 .schedule-box .schedule-list .schedule-date button {
  background: none;
  border: none;
} */

.section1 .schedule-box .schedule-list > a {
  display: inline-block;
  padding: 10px 10px 5px;
  text-align: center;
  color: #000;
  line-height: 21px;
  border-bottom: 5px solid var(--main-color);
}

.section1 .schedule-box .schedule-list > ul {
  font-size: 15px;
  /* text-align: left; */
  border-top: 0.3px solid #888;
  padding-top: 13px;
}

/* ##### section2 ##### */
/* 연습실 예약 */

.section2 .container {
  padding: 0px 20px;
  margin-bottom: 100px;
}

.section2 .reservation-banner {
  width: 100%;
  display: flex;
  border: 0.5px solid #ccc;
  /* border-radius: 20px; */
  box-shadow: 4px 4px 5px #ccc;
}

.section2 .reservation-banner > img {
  width: 50%;
}

.section2 .reservation-banner .reservation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 130px;
}

.section2 .reservation-banner .reservation-link > p {
  font-size: 14px;
  margin-bottom: 15px;
}

.section2 .reservation-banner .reservation-link > .btn-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  border: 0.5px solid #000;
  background: #fff;
  font-weight: 700;
}

/* ##### section3 ##### */
/* 전공 안내 */

.section3 {
  background: #f3f3f3;
}
.section3 .container {
  padding: 100px 20px;
}

.section3 .classes {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
}

.section3 .classes img {
  width: 50%;
}

.section3 .classes .text-box {
  width: 50%;
}

.section3 .classes h3 span {
  font-size: 64px;
  position: relative;
  bottom: 10px;
}

.section3 .classes p {
  font-family: "Nanum Myeongjo", serif;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 700;
}

/* korean-dance */
.section3 .classes.korean-dance {
  left: 228px;
  margin-bottom: 100px;
}

.section3 .korean-dance::before {
  content: "";
  width: 50%;
  height: 100%;
  background: #6d8b74;
  position: absolute;
  top: 100px;
  left: -100px;
}

.section3 .classes.korean-dance img {
  z-index: 100;
}

.section3 .korean-dance .text-box {
  text-align: right;
}

.section3 .korean-dance h3 {
  position: relative;
  right: 28px;
  margin-bottom: 15px;
}

.section3 .korean-dance h3::before {
  content: "K";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  right: 240px;
}

.section3 .korean-dance h3::after {
  content: "orean Dance";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  right: -15px;
}

/* modern-dance */
.section3 .classes.modern-dance {
  left: 268px;
  margin-bottom: 200px;
}

.section3 .modern-dance::before {
  content: "";
  width: 50%;
  height: 100%;
  background: #fbc687;
  position: absolute;
  top: 100px;
  right: -100px;
  /* z-index: -1; */
}

.section3 .classes.modern-dance img {
  z-index: 100;
}

.section3 .modern-dance .text-box {
  text-align: center;
}

.section3 .modern-dance h3 {
  position: relative;
  right: -65px;
  margin-bottom: 15px;
}

.section3 .modern-dance h3::before {
  content: "M";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  left: -20px;
}

.section3 .modern-dance h3::after {
  content: "odern Dance";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  left: 72px;
}

/* ballet */
.section3 .classes.ballet {
  left: 128px;
  margin-top: 100px;
}

.section3 .ballet::before {
  content: "";
  width: 50%;
  height: 100%;
  background: #ea907a;
  position: absolute;
  top: -100px;
  left: 100px;
}

.section3 .classes.ballet img {
  z-index: 100;
}

.section3 .ballet .text-box {
  text-align: center;
}

.section3 .ballet h3 {
  position: relative;
  left: 120px;
  margin-bottom: 15px;
}

.section3 .ballet h3::before {
  content: "B";
  font-family: "crimson text", serif;
  font-size: 128px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -45px;
  right: 285px;
}

.section3 .ballet h3::after {
  content: "allet";
  font-family: "crimson text", serif;
  font-size: 48px;
  font-weight: 700;
  width: 300px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  right: 90px;
}
.section3 .ballet p {
  position: relative;
  left: 80px;
}

/* ##### section4 ##### */
/* 퀵메뉴 */
.section4 .container {
  padding: 50px 100px;
}

.section4 .quick-menu {
  padding: 60px 170px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.section4 .quick-menu li {
  text-align: center;
}

.section4 .quick-menu li a {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section4 .quick-menu li p {
  line-height: 1.2em;
}

/* ##### footer ##### */
#main-footer {
  margin-top: 50px;
  background: #393939;
}

#main-footer .container {
  padding: 30px 50px 40px;
  color: #999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-footer .footer-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid #666;
  padding-bottom: 5px;
}

#main-footer .footer-menu .text-box {
  display: flex;
  gap: 10px;
}

#main-footer .footer-menu a {
  color: #999;
}

#main-footer .footer-menu a.ft-str {
  font-weight: 700;
  color: #ffcc33;
}

#main-footer .footer-menu .sns-icon {
  display: flex;
  gap: 10px;
}

#main-footer .footer-menu .sns-icon img {
  width: 30px;
}

#main-footer .address {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#main-footer .copy {
  font-weight: 700;
}
